@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Основни информации за проектот</h1>
<p>Овој проект се состои од препознавање на точно определени гестови со рацете или непостоење на истите. Самиот проект
претставува веб апликација за препознавање на облици (кои во случајов се визуелни) која во себе содржи опции за тренирање на 
класификаторот, зголемување на податочното множество со надеж дека класификаторот ќе стане подобар преку сликање во реално време, 
и секако опција за сликање на слика која корисникот сака да биде категоризирана.</p><hr />
<p>За препознавање на визуелните облици добиени од веб камерата, употребен е т. н. <i>Deep learning</i> пристап, кој подразбира
и научување на добри карактеристики од необработени влезни податоци освен самата класификација.</p><hr/>
<p>Најпрво сликите што се добиваат од веб камерата се претвораат во слики со само еден канал <i>(grayscale)</i> со цел намалување
на пресметковната комплексност; ова е оправдано бидејќи главните информации се гледаат во соодветни интензитети на сликата.
Потоа тие се намалуваат четирикратно по секоја димензија. Притоа истите се филтрираат со т. н. Гаусов филтер со цел да се 
зачуваат корисните информации и во пониска резолуција. Ова исто така се прави за уште поголемо намалување на комплексноста на 
обуката на класификаторот; таа е и онака доволно голема.</p>